.generic-card {
  animation: fade-in 0.2s ease-in forwards;
  background-color: #1c1c1c;
  box-shadow: 5px 6px 5px 3px rgb(56 54 54 / 10%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  position: relative;
  /* width: 200px; */
  max-height: 280px;
}

.generic-card:focus-within {
  outline: 2px solid #fff;
  outline-offset: 4px;
  transition: outline-offset 0.2s;
}

.generic-card__image {
  object-fit: cover;
  width: 100%;
}

.generic-card__content-title {
  font-size: 1rem;
  padding: 0 var(--spacing-h-4);
}

.generic-card__link {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
