.card-carousel {
  display: flex;
  height: 100%;
  overflow-x: scroll;
  position: relative;
  scroll-snap-type: x mandatory;
  width: calc(100% + 2rem);
}

.card-carousel__item {
  min-height: 275px;
  min-width: 200px;
  scroll-snap-align: start;
  margin-right: 20px;
}
